header {
  width: 100%;
  padding: 0 2em;
  background-color: color("black");
  color: color("white");

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  h2 {
    font-size: modular-scale(2);
    color: color("white");
  }

  /* FYI the center (tcom-bones) has to be changed based on the template name */
  #block-tcom-bones-branding {
    padding: 0 2em;

    img {
      @include size(5em);
    }
  }
}
